@media(min-width: 320px) and (max-width: 767px) {
    html {
        font-size: 13px;
        font-family: 'Oswald', sans-serif;
        letter-spacing: 1px;
    }
    .appWrapper p {
        margin-top: 1.3em;
    }
}

html {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
}

#app {
    margin-top: 3em;
}